{{#> frame }}
            <h2><a href="/project/{{project}}">{{project}}</a> : <a href="/project/{{project}}/build/{{build}}">{{build}}</a></h2>
            {{#if queued}}
            <div>
            <h4>[queued]</h2>
              {{#each queued}}
                <span>
                    <a href="/build/{{this}}">#{{this}}</a>
                </span>
              {{/each}}
            </div>
            {{/if}}
            {{#each refs}}
            <div>
              <h4>{{this.name}}</h4>
              <div>
              {{#each this.builds}}
                <span>
                  <a href="/build/{{this}}">#{{this}}</a>
                </span>
              {{/each}}
              </div>
            </div>
            {{/each}}
{{/frame}}
