{{#> frame }}
            <p>
            {{#if builds}}
             Builds that are currently borked:
              {{#each builds as |b|}}
                <div>
                  <a href="/project/{{b.project}}">{{b.project}}</a>
                  :
                  <a href="/project/{{b.project}}/build/{{b.build}}">{{b.build}}</a>
                  :
                  <a href="/build/{{b.id}}">{{b.id}}</a>
                </div>
             {{/each}}
           {{else}}
             All builds are green.
           {{/if}}
           </p>
{{/frame}}
